cython==0.29.2
imageio==2.4.1
numpy==1.15.4
matplotlib
pandas
pillow
pytest==4.0.2
pyyaml==3.13
scikit-image==0.14.1
scipy==1.1.0
tensorboardx==1.4
tqdm==4.28.1
trimesh==2.37.7
h5py==2.9.0
plyfile==0.7